Options -MultiViews
RewriteEngine on 

# skip all files and directories from rewrite rules below
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# add php if possible
RewriteCond %{REQUEST_FILENAME}\.pl -f
RewriteRule ^ %{REQUEST_URI}.pl [L]

# rewrite other to index.php file
RewriteRule ^ /notfound.html [L]
