$bg: #393222;
$fg: black;

$content_bg: white;

$nav_bg: #a38d68;
$nav_bg_hover: #666;
$nav_fg: white;
$nav_fg_hover: white;

$footer_bg: #292116;
$footer_fg: #aaa6a2;


$highlight_bg: #3a98a6;
$highlight_fg: white;
