---
layout: page
title: RhysOS
description: "My x86 operating system written for the 80286 processor. See some screenshots and features of the OS"
---

<div class='title centre_page centre'>
    <h1>RhysOS</h1>
</div>

<div class="about centre_page">
    <h2>16-bit kernel inspired by DOS</h2>
    
    <p>This is my kernel/OS, written in mainly C with some assembler.</p>

    <p>It is 16-bit to ensure compatability with my 286 machines, all the way up to modern machines with BIOS emulation.</p>
    
    <h2>Features</h2>
    
    <ul>
        <li>2-stage bootloader
        <li>Monolithic kernel
        <li>Userspace programs
        <li>I/O redirection
        <li>Serial I/O
        <li>Fat12 filesystem
    </ul>
    
    <p>The boot process:</p>
    <img class="project_image" src="<%= url_for('/images/projects/rhysos_boot.png') %>" alt="RhysOS Boot Process">
    
    <p>Directory listing:</p>
    <img class="project_image" src="<%= url_for('/images/projects/rhysos_dir.png') %>" alt="RhysOS Directory Listing">
    
    <p>Reading from the RTC:</p>
    <img class="project_image" src="<%= url_for('/images/projects/rhysos_time.png') %>" alt="RhysOS RTC Read">
    
    <p>Filesystem reading a file:</p>
    <img class="project_image" src="<%= url_for('/images/projects/rhysos_type.png') %>" alt="RhysOS FS Read">
</div>
