@use '_defs';

html {
	background-color: defs.$bg;
	font-family: 'Vollkorn', serif;
}

html, body {
    margin:0;
    padding:0;
    height:100%;
}

.page {
    margin: 0 auto;
    max-width: 900px;
}

.content {
    background-color: defs.$content_bg;
    border-radius: 10px;
    margin-top: 30px;
}

.sidebar {
    float: left;
    max-width: 200px;
}

.header {
    display: flex;
}

#header_title {
    justify-content: flex-start;
}

#motto {
    justify-content: flex-end;
    margin-left: auto;
    align-items: center;
    color: defs.$nav_fg;
    max-width: 250px;
}

#copyright {
    flex: 1;
    text-align: right;
}

@media screen and (min-width: 601px) {
    :root {
        --h1: 3em;
        --h2: 2em;
        --text: 1em;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --h1: 3em;
        --h2: 2em;
        --text: 1em;
    }
}

#container {
    min-height:100%;
    position:relative;
    padding-bottom: 1em;
}

.title {
	color: defs.$fg;
}

.centre {
	margin: auto;
	width: 50%;
	padding: 10px;
	text-align: center;
}

.centre_page {
	margin: auto;
	width: 70%;
	padding: 20px;
	border-radius: 5px;
}

h1 {
	color: defs.$fg;
    font-family: 'Libre Baskerville', serif;
}

h2 {
	color: defs.$fg;
	font-family: 'Libre Baskerville', serif;
}

a {
	color: defs.$fg;
}

.text {
	color: defs.$fg;
}

li, li a {
	padding: 5px;
	color: defs.$fg;
}

.topic_round {
	border-radius: 50%;
	text-align: center;
	color: defs.$fg;
	width: 5em;
	padding: 2px;
	font-size: .7em;
	display: inline;
}

.footer {
    display: flex;
    align-items: center;
    background-color: defs.$content_bg;
    height:60px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
}

.footer * {
    margin-right: 20px;
    color: defs.$nav_fg;
}

#blog_table {
    border-collapse: collapse;
}

#blog_table tr {
    border-bottom: 1px solid defs.$fg;
    height: 3em;
}


#blog_table td {
    padding-right: 1em;
}

script { display: none !important; }

